/*! ++++++++++ Header  ++++++++++*/

header {
    background-image: url(/img/bg-pattern-intro.svg), linear-gradient(to left, #ff3d54, #ff8f70);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 100px;
    margin-bottom: 100px;
}

/*! ++++++++++ Nav - Bar  ++++++++++*/

.nav-bar {
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loggin {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*! ++++++++++ Menu  ++++++++++*/

.nav-menu {
    font-family: 'Overpass', sans-serif;
    color: #fff !important;
    width: 30%;
    white-space: nowrap;
}

.nav-menu ul {
    display: flex;
    padding: 0;
    text-align: left;
}

.nav-menu ul li {
    width: 100%;
    list-style: none;
    position: relative;
    margin-left: 0;
}

.nav-menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px;
}

/*# ++++++++++ Sub-menu  ++++++++++*/

.nav-menu ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-left: 30%;
}

/*# seccion que muetra el submenú al hacer hover  inicio */

.nav-menu ul li:hover ul {
    display: block;
    color: black;
    border-radius: 9px;
    width: auto;
}

/*# seccion que muetra el submenú al hacer hover  Fin */

.nav-menu ul li ul .sub-menu {
    color: #4b5862;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.nav-menu ul li ul .sub-menu:hover {
    color: black;
    font-weight: 500;
}

.nav-menu ul li ul li:first-child:hover {
    background-color: #e3e3e6;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.nav-menu ul li ul li:hover {
    background-color: #e3e3e6;
}

.nav-menu ul li ul li:last-child:hover {
    background-color: #e3e3e6;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/*! ++++++++++ Login - btn  ++++++++++*/

.login-btn {
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    padding: 10px 16px;
    margin: 4px 2px;
}

.login-btn:hover {
    color: #fff;
}

/*! ++++++++++ Registro - btn  ++++++++++*/

.sign-up-btn {
    padding: 10px 16px;
    margin: 4px 2px;
    text-decoration: none;
    background-color: #fff;
    color: hsl(356, 100%, 66%);
    border: 3px solid #fff;
    border-radius: 16px;
}

.sign-up-btn:hover {
    background-color: hsl(353, 100%, 62%);
    border: 3px solid hsl(353, 100%, 62%);
    color: honeydew;
}

/*! ++++++++++ Header - Text  ++++++++++*/

.header-text {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: #fff;
    margin: 5rem;
    padding: 5px 5px;
}

.header-text>h2 {
    font-size: 3rem;
}

.header-text>p {
    font-size: 1.3rem;
}

.header-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px
}

.learn-btn {
    padding: 10px 16px;
    margin: 4px 10px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
}

.learn-btn:hover {
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

/*! ++++++++++ Movil  ++++++++++*/

.menu-icon {
    display: none;
}

.mobile {
    display: none;
}

/*! ++++++++++ Main  ++++++++++*/

main {
    width: 100%;
    height: auto;
    font-family: 'Overpass', sans-serif;
    display: block;
}

/** Seccion 1  */

.future-section {
    margin: 75px 0px;
}

.future {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 50px 0;
    width: 100%;
}

.future-body {
    margin: 5px;
    width: 40%;
}

.future img {
    width: 500px;
    height: 400px;
}

/** Seccion 2  */

.state-section {
    margin: 3rem 0px;
    color: #e3e3e6;
    height: 480px;
}

.state {
    background-image: url('../img/bg-pattern-circles.svg'), linear-gradient(#2c2d3f, #3f4164);
    background-repeat: no-repeat;
    background-position-x: -200px, left;
    background-position-y: -600px, top;
    border-radius: 0 70px 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 370px;
}

.state img {
    width: 530px;
    height: 550px;
    margin: 0;
    padding: 0;
}

.state-txt {
    width: 30%;
    align-self: center;
    margin-top: 2.5rem;
}

/** Seccion 3  */

.free-section {
    margin: .5em 0 0 0;
    display: block;
}

.free {
    display: flex;
    justify-content: space-evenly;
}

.free-section img {
    width: auto;
    height: 400px;
}

.free-txt {
    width: 50%;
    padding: 0 2rem;
}

.free-txt p {
    padding: .5rem 0;
}

/** footer */

footer {
    background: rgb(20, 20, 46);
    width: 100%;
    height: auto;
    border-radius: 0px 70px 0px 0px;
    margin-top: 1px;
    font-family: 'Overpass', sans-serif;
}

footer .footer-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
}

footer .footer-flex img {
    margin: 1rem 4rem;
    padding: 1rem;
}

footer .footer-flex .menu-footer {
    margin: 2px 3rem;
    padding: 15px;
}

footer .footer-flex .menu-footer ul {
    list-style: none;
}

footer .footer-flex .menu-footer ul li {
    margin: 9px;
}

footer .footer-flex .menu-footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

/*& ++++++++++++++++++++ Movil - Menú - Responsive  ++++++++++++++++++++*/

@media screen and (max-width: 900px) {
    body {
        width: 100%;
        height: 100%;
    }
    header {
        width: auto;
    }
    .menu-icon {
        color: rgb(255, 255, 255);
        display: block;
        position: absolute;
        top: 15px;
        right: 16px;
        font-size: 2.5rem;
    }
    .menu {
        position: absolute;
        top: -250px;
        display: flex;
        flex-direction: column;
        border: orange solid 2px;
        padding: 0;
    }
    /*! ++++++++++ Menu - Movil  ++++++++++*/
    .container-menu {
        width: 80%;
        margin: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*# Estilos para las opciones  */
    .container-menu .cont-enlace .opcion {
        background-color: #ffffff;
        color: hsl(0, 0%, 8%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 15px;
        font-family: 'Overpass', sans-serif;
        cursor: pointer;
        user-select: none;
        margin: 0px;
        width: 100%;
        padding: 0;
    }
    .container-menu .cont-enlace .opcion p {
        border: #ffffff 1px solid;
    }
    .icon-mb-menu {
        color: #ff8f70;
        display: flex;
        padding: 0;
        margin: 15px 0px;
    }
    /*% Estilos para los enlaces */
    .container-menu .cont-enlace .enlace a {
        background: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        display: block;
        padding: 10px 15px;
        color: black;
        text-align: center;
    }
    .container-menu .cont-enlace .enlace a:hover {
        background-color: hsl(0, 0%, 87%);
        color: #ff8f70;
    }
    /** Efecto para aparecer y desaparecer enlaces  */
    .container-menu .cont-enlace .enlace {
        height: 0px;
        overflow: hidden;
    }
    .mobile .container-menu .cont-enlace .animacion {
        height: 100%;
    }
    /** Efecto para aparecer y desaparecer enlaces  */
    /*& Muestra el menu con el boton de hamburguesa  */
    .spread {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 98vw;
        background-color: #ffffff;
        padding: 5px;
        border-radius: 25px;
    }
    .loggin {
        background-color: #ffffff;
        width: 97%;
        display: flex;
        justify-content: center;
    }
    .loggin .login-btn:hover {
        color: red;
    }
    /**Header Text  */
    .header-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 5px;
        margin-top: 0;
        margin-left: 1px;
        margin-right: 1px;
    }
    .header-btns {
        border: 1px solid transparent;
    }
    main {
        margin: 0;
        padding: 0;
    }
    /** Seccion 1  */
    .future-section {
        margin: 0;
        padding: 5px;
        width: 95%;
    }
    .future {
        width: 95%;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 0;
        margin: auto;
    }
    .future img {
        width: 65vw;
        height: 50%;
    }
    .future-body {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    /** Seccion 2  */
    .state-section {
        height: 410px;
        display: flex;
        align-items: center;
    }
    .state {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .state img {
        width: 15rem;
        height: auto;
        position: relative;
        top: -100px;
    }
    .state-txt {
        position: relative;
        top: -140px;
        width: 97%;
    }
    /** Seccion 3  */
    .free {
        flex-wrap: wrap;
    }
    .free img {
        width: 400px;
        height: auto;
    }
    .free-txt {
        width: 100%;
        padding-bottom: 5rem;
    }
}