/*! ++++++++++ Header  ++++++++++*/

header {
    background-image: url(/img/bg-pattern-intro.svg), linear-gradient(to left, #ff3d54, #ff8f70);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 100px;
}

/*! ++++++++++ Nav - Bar  ++++++++++*/

.nav-bar {
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loggin {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*! ++++++++++ Menu  ++++++++++*/

.nav-menu {
    font-family: 'Overpass', sans-serif;
    color: #fff !important;
    width: 30%;
    white-space: nowrap;
}

.nav-menu ul {
    display: flex;
    padding: 0;
    text-align: center;
    width: auto;
}

.nav-menu ul li {
    width: 100%;
    list-style: none;
    position: relative;
    margin-left: 0;
}

.nav-menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px;
}

/*# ++++++++++ Sub-menu  ++++++++++*/

.nav-menu ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-left: 30%;
    border: 1px solid yellow;
}

/*# seccion que muetra el submenú al hacer hover  inicio */

.nav-menu ul li:hover ul {
    display: block;
    color: black;
    border-radius: 9px;
}

/*# seccion que muetra el submenú al hacer hover  Fin */

.nav-menu ul li ul .sub-menu {
    color: #4b5862;
    padding: 5px;
    margin: 0;
    width: 100%;
}

.nav-menu ul li ul .sub-menu:hover {
    color: black;
    font-weight: 500;
}

.nav-menu ul li ul li:first-child:hover {
    background-color: #e3e3e6;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.nav-menu ul li ul li:hover {
    background-color: #e3e3e6;
}

.nav-menu ul li ul li:last-child:hover {
    background-color: #e3e3e6;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/*! ++++++++++ Login - btn  ++++++++++*/

.login-btn {
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    padding: 10px 16px;
    margin: 4px 2px;
}

.login-btn:hover {
    color: #fff;
}

/*! ++++++++++ Registro - btn  ++++++++++*/

.sign-up-btn {
    padding: 10px 16px;
    margin: 4px 2px;
    text-decoration: none;
    background-color: #fff;
    color: hsl(356, 100%, 66%);
    border: 3px solid #fff;
    border-radius: 16px;
}

.sign-up-btn:hover {
    background-color: hsl(353, 100%, 62%);
    border: 3px solid hsl(353, 100%, 62%);
    color: honeydew;
}

/*! ++++++++++ Header - Text  ++++++++++*/

.header-text {
    font-family: 'Overpass', sans-serif;
    text-align: center;
    color: #fff;
    margin: 5rem;
    padding: 5px 5px;
}

.header-text>h2 {
    font-size: 3rem;
}

.header-text>p {
    font-size: 1.3rem;
}

.header-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px
}

.learn-btn {
    padding: 10px 16px;
    margin: 4px 10px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
}

.learn-btn:hover {
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

/*! ++++++++++ Movil  ++++++++++*/

.menu-icon {
    display: none;
}

.mobile {
    display: none;
}

/*& ++++++++++++++++++++ Movil - Menú - Responsive  ++++++++++++++++++++*/

@media screen and (max-width: 900px) {
    body {
        width: 100%;
        height: 100%;
        background-color: rgb(66, 94, 248);
    }
    header {
        width: auto;
    }
    .menu-icon {
        color: rgb(255, 255, 255);
        display: block;
        position: fixed;
        top: 15px;
        right: 16px;
        font-size: 2.5rem;
    }
    .menu {
        position: absolute;
        top: -250px;
        display: flex;
        flex-direction: column;
        border: orange solid 2px;
        padding: 0;
    }
    /*! ++++++++++ Menu - Movil  ++++++++++*/
    .container-menu {
        width: 80%;
        margin: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*# Estilos para las opciones  */
    .container-menu .cont-enlace .opcion {
        background-color: #ffffff;
        color: hsl(0, 0%, 8%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 15px;
        font-family: 'Overpass', sans-serif;
        cursor: pointer;
        user-select: none;
        margin: 0px;
        width: 100%;
        padding: 0;
    }
    .container-menu .cont-enlace .opcion p {
        border: #ffffff 1px solid;
    }
    .icon-mb-menu {
        color: #ff8f70;
        display: flex;
        padding: 0;
        margin: 15px 0px;
    }
    /*% Estilos para los enlaces */
    .container-menu .cont-enlace .enlace {}
    .container-menu .cont-enlace .enlace a {
        background: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        display: block;
        padding: 10px 15px;
        color: black;
        text-align: center;
    }
    .container-menu .cont-enlace .enlace a:hover {
        background-color: hsl(0, 0%, 87%);
        color: #ff8f70;
    }
    /** Efecto para aparecer y desaparecer enlaces  */
    .container-menu .cont-enlace .enlace {
        height: 0px;
        overflow: hidden;
    }
    .mobile .container-menu .cont-enlace .animacion {
        height: 100%;
    }
    /** Efecto para aparecer y desaparecer enlaces  */
    /*& Muestra el menu con el boton de hamburguesa  */
    .spread {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        background-color: #ffffff;
    }
    .loggin {
        background-color: #ffffff;
        width: 97%;
        display: flex;
        justify-content: center;
    }
    .loggin .login-btn:hover {
        color: red;
    }
    /**Header Text  */
    .header-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 5px;
        margin-top: 0;
        margin-left: 1px;
        margin-right: 1px;
    }
    .header-btns {
        border: 1px solid transparent;
    }
}